
/* Eléments principaux de la page */
body
{
background: url('images/fond_jaune.png');
font-family: 'Trebuchet MS', Arial, sans-serif;
}
/* Définition des polices personnalisées */
@font-face
{
font-family: 'BallparkWeiner';
src: url('polices/ballpark.eot');
src: url('polices/ballpark.eot?#iefix') format('embedded-opentype')
url('polices/ballpark.woff') format('woff'),
url('polices/ballpark.ttf') format('truetype'),
url('polices/ballpark.svg#BallparkWeiner') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face
{
font-family: 'Dayrom';
src: url('polices/dayrom.eot');
src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
url('polices/dayrom.woff') format('woff'),
url('polices/dayrom.ttf') format('truetype'),
url('polices/dayrom.svg#Dayrom') format('svg');
font-weight: normal;
font-style: normal;
}
body
{
background: url('images/fond_jaune.png');
font-family: 'Trebuchet MS', Arial, sans-serif;
color: #181818;
}
#bloc_page
{
width: 900px;
margin: auto;
}
section h1, footer h1, nav a
{
font-family: Dayrom, serif;
font-weight: normal;
text-transform: uppercase;
}
/* Header */
header
{
background:  url('images/separateur.pjg') repeat-x bottom;
}
#titre_principal
{
display: inline-block;
}
header h1
{
font-family:'lobster',cursive;
font-size: 2.5em;
font-weight: normal;
}
#logo, header h1
{
display: inline-block;
margin-bottom: 0px;
}
header h2
{
font-family: Dayrom, serif;
font-size: 1.1em;
margin-top: 0px;
font-weight: normal;
}
/* Navigation */
nav
{

display: inline-block;
width: 740px;
text-align: right;
}
nav ul
{
list-style-type: none;
}
nav li
{
display: inline-block;
margin-right: 15px;
}
nav a
{
font-size: 1.3em;
color: #181818;
padding-bottom: 3px;
text-decoration: none;
}
nav a:hover
{
color: #760001;
border-bottom: 3px solid #760001;
}
/* Bannière */
#banniere_image
{
margin-top: 15px;
height: 200px;
border-radius: 5px;
background: url('images/image_epices_moulues.jpg') no-repeat;
position: relative;
box-shadow: 0px 4px 4px #1c1a19;
margin-bottom: 25px;

}
#banniere_description
{
position: absolute;
bottom: 0;
border-radius: 0px 0px 5px 5px;
width:99.5%;
height: 33px;
padding-top: 15px;
padding-left: 4px;
background-color: rgb(24,24,24); /* Pour les anciens navigateurs
*/
background-color: rgba(24,24,24,0.8);
color: white;
font-size: 0.8em;
}
.bouton_rouge
{
display: inline-block;
height: 25px;
position: absolute;
right: 5px;
bottom: 5px;
background: url('images/fond_degraderouge.png') repeat-x;
border: 1px solid #760001;
border-radius: 5px;
font-size: 1.2em;
text-align: center;
padding: 3px 8px 0px 8px;
color: white;
text-decoration: none;
}
.bouton_rouge img
{
border: 0;
}
article, aside
{
display: inline-block;
vertical-align: top;
text-align: justify;
}
ul {
    display: inline;
}
section{
    margin: right 170px;
   
}
article
{
width: 625px;
margin-right: 15px;
}
.ico_categorie
{
vertical-align: middle;
margin-right: 8px;
}
article p
{
font-size: 0.8em;
}
aside
{
position: relative;
width: 235px;
background-color: #706b64;
box-shadow: 0px 2px 5px #1c1a19;
border-radius: 5px;
padding: 10px;
color: white;
font-size: 0.9em;
}
#fleche_bulle
{
position: absolute;
top: 100px;
left: -12px;
}
#photo_épices
{
text-align: center;
}
#photo_ épices img
{
border: 1px solid #181818;
}
aside img
{
margin-right: 5px;
}
footer
{
background: url('images/it.jpg') no-repeat top center,
url('images/separateur.pjg') repeat-x top, url('images/ombre.pjg')
repeat-x top;
padding-top: 25px;
}
footer p, footer ul
{
font-size: 0.8em;
}
footer h1
{
font-size: 1.1em;
}
#tweet, #mes_photos, #mes_amis
{
display: inline-block;
vertical-align: top;
}
#tweet
{
width: 25%;
}
#mes_photos
{
width: 35%;
}
#mes_articles
{
width: 31%;
}
#mes_photos img
{
border: 1px solid #181818;
margin-right: 2px;
}
#mes_article ul
{
display: inline-block;
vertical-align: top;
margin-top: 0;
width: 48%;
list-style-image: url('images/ico_liensexterne.png');
padding-left: 2px;
}
#mes_articles a
{
text-decoration: none;
color: #760001;
}
img{
    max-width: 100px;
    max-height: 100px;
}